# Code for my first projection -  t-SNE

In [3]:
#importing pandas
import pandas as pd
#loading my preprocessed csv file and savin it as a dataframe
occu_df = pd.read_csv('new code for pca.csv', low_memory=False)

#dropping all values for na
occu_df = occu_df.dropna()

In [5]:
#checking the first 5 rows of the dataframe 
occu_df.head()

,Lower tier local authorities,Ethnic group,Highest level of qualification,Occupation,Sex,Observation
0,Middlesbrough,"Asian, Asian British or Asian Welsh",No qualifications,"Managers, directors and senior officials",Female,21.0
1,Middlesbrough,"Asian, Asian British or Asian Welsh",No qualifications,"Managers, directors and senior officials",Male,50.0
2,Middlesbrough,"Asian, Asian British or Asian Welsh",No qualifications,Professional occupations,Female,9.0
3,Middlesbrough,"Asian, Asian British or Asian Welsh",No qualifications,Professional occupations,Male,6.0
4,Middlesbrough,"Asian, Asian British or Asian Welsh",No qualifications,Associate professional and technical occupations,Female,12.0

In [6]:
#calculating the total number of observations for each occupation
occupation_total = occu_df.groupby('Occupation').sum()['Observation']

In [7]:
#checking the results
print(occupation_total)

Occupation
Administrative and secretarial occupations          2328559.0
Associate professional and technical occupations    3344595.0
Caring, leisure and other service occupations       2328827.0
Elementary occupations                              2628028.0
Managers, directors and senior officials            3218115.0
Process, plant and machine operatives               1728504.0
Professional occupations                            5163322.0
Sales and customer service occupations              1883336.0
Skilled trades occupations                          2499299.0
Name: Observation, dtype: float64

In [8]:
#grouping the dataframe by the specified columns and calculating the sum of observations for that column
grouped_all = occu_df.groupby(['Lower tier local authorities', 'Ethnic group', 'Highest level of qualification', 'Occupation', 'Sex']).sum()['Observation']

In [9]:
#printing the results
print(grouped_all)

Lower tier local authorities  Ethnic group                         Highest level of qualification                                                                                                                                                                             Occupation                                     Sex
Amber Valley                  Asian, Asian British or Asian Welsh  Level 1 and entry level qualifications: 1 to 4 GCSEs grade A* to C, Any GCSEs at other grades, O levels or CSEs (any grades), 1 AS level, NVQ level 1, Foundation GNVQ, Basic or Essential Skills          Administrative and secretarial occupations     Female    4.0
                                                                                                                                                                                                                                                                              Caring, leisure and other service occupations  Female    2.0
                                                                                                                                                                                                                                                                                                                             Male      6.0
                                                                                                                                                                                                                                                                              Elementary occupations                         Female    4.0
                                                                                                                                                                                                                                                                                                                             Male      6.0
                                                                                                                                                                                                                                                                                                                                      ...
York                          White: Irish                         Other: apprenticeships, vocational or work-related qualifications, other qualifications achieved in England or Wales, qualifications achieved outside England or Wales (equivalent not stated or unknown)  Elementary occupations                         Male      1.0
                                                                                                                                                                                                                                                                              Managers, directors and senior officials       Female    1.0
                                                                                                                                                                                                                                                                                                                             Male      3.0
                                                                                                                                                                                                                                                                              Professional occupations                       Male      1.0
                                                                                                                                                                                                                                                                              Skilled trades occupations                     Male      8.0
Name: Observation, Length: 179997, dtype: float64

In [10]:
#importing relevant modules that allow me to encode the categorical columns for the model
from sklearn.preprocessing import StandardScaler, LabelEncoder

#instantiating the encoder 
Encoder = LabelEncoder()
#encoding the columns to be replaced with numerical labels for the model
occu_df['Lower tier local authorities'] = Encoder.fit_transform(occu_df['Lower tier local authorities'])
occu_df['Ethnic group'] = Encoder.fit_transform(occu_df['Ethnic group'])
occu_df['Highest level of qualification'] = Encoder.fit_transform(occu_df['Highest level of qualification'])
occu_df['Occupation'] = Encoder.fit_transform(occu_df['Occupation'])
occu_df['Sex'] = Encoder.fit_transform(occu_df['Sex'])

In [12]:
#instantiating the scaler
scaler = StandardScaler()
#standardising the values in the observation column so that the numerical column of my dataset is normalised
occu_df['Observation'] = scaler.fit_transform(occu_df['Observation'].values.reshape(-1, 1))

In [14]:
#importing the TSNE library
from sklearn.manifold import TSNE

#fitting the TSNE model on the data - this code can take up to 15 minutes to process
tsne = TSNE(n_components=2, random_state=42)
projected_occu = tsne.fit_transform(occu_df)

#project the data onto a 2-D matrix 
projected_occu = pd.DataFrame(projected_occu, columns=['TSNE-1', 'TSNE-2'])

/Users/thomascourts/opt/anaconda3/lib/python3.9/site-packages/sklearn/manifold/_t_sne.py:780: FutureWarning: The default initialization in TSNE will change from 'random' to 'pca' in 1.2.
  warnings.warn(
/Users/thomascourts/opt/anaconda3/lib/python3.9/site-packages/sklearn/manifold/_t_sne.py:790: FutureWarning: The default learning rate in TSNE will change from 200.0 to 'auto' in 1.2.
  warnings.warn(

In [ ]:
#saving the t-SNE data to a CSV file to be used in Tableau
#occu_tsne.to_csv('tsne_results.csv', index=False)